/* Estilos para la página ABOUT ********************************* */

#about-page {
    background-image: map-get($estilos-generales, fondoblog);
}
.about{
    margin-bottom: 100px;
    .about__item-intro{
        margin-top: 20px;
        border-top: 1px solid #000;
        text-align: left;
        width: 100%;
        padding-top: 10px;
    }
    h3{
        padding: 20px 0 10px 0;
    }
    .about__item{
        padding: 20px 0px 20px 0px;
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items:flex-start;
        .about__item-image{
            width: 50%;
            background-color: $soft;
            padding: 20px 160px 20px 20px;
            img{
                width: 100%;
            }
        }
        .about__item-description{
            width: 70%;
            margin-top: 60px;
            margin-left: -140px;
            z-index: 2;
            padding: 15px;
        }
    }
}

    @media all and (max-width:1080px){ 
        .about .about__item{
            display:block;
            .about__item-intro{
                width: 50%;
            }
            .about__item-image{
                width: 100%;
                margin-top: 20px;
                padding: 20px 20px 20px 20px;
                img{
                    width: 50%;
                }
            }
            .about__item-description{
                width: 100%;
                margin-top: 20px;
                margin-left: 0px;
            }
        }
    }
    @media all and (max-width:640px){
        .about .about__item{
            display:block;
            .about__item-image{
                width: 100%;
                margin-top: 20px;
                padding: 20px 20px 20px 20px;
                margin-left: -20px;
                img{
                    width: 100%;
                }
            }
            .about__item-description{
                width: 100%;
                margin-left: 0px;
                margin-top: 20px;
            }
        }
    }