/* ESTILOS BASE GENERALES DE LA WEB ******************************** */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
// VARIABLES GENERALES
$ancho-maximo: 1470px;
$color-principal: #fadde1;
$soft: #fadde14f;
$color-secundario: #000;
$color-dark: #444;
$imagesPath:"../images";
$bordeblanco: 10px solid #fff;
// FIN VARIABLES GENERALES

// MAPA
$estilos-generales: (
    margeninferior: 100px,
    familiatexto: "Lato",
    mainpadding: 20px,
    fondogenerico: url("#{$imagesPath}/patterns/ep_naturalwhite.png"),
    fondoblog: url("#{$imagesPath}/patterns/lined_paper.png"),
    fondoabout: url("#{$imagesPath}/ny.jpg"),
    cursor2: url("#{$imagesPath}/cursor2.png"),
    cursorcirculo: url("#{$imagesPath}/cursor.png"),
    cursorcuadrado: url("#{$imagesPath}/cursor-square.png")
);
// FIN MAPA

// MIXIN
@mixin fondocover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
// FIN MIXIN

body {
    background-image: map-get($estilos-generales, fondogenerico);
    cursor: map-get($estilos-generales, cursor2), auto;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}
::selection, ::-moz-selection{
    background-color:$color-principal;
    color: $color-secundario;
}
main{
    padding: map-get($estilos-generales, mainpadding);
}
aside{
    li, p, a{
        color:#fff;
    }
}
p, p a, li a {
    font-family: map-get($estilos-generales, familiatexto), sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
a {
    color:$color-secundario;
    text-decoration:none;
}
main a:hover, footer a:hover{
    color:$color-dark;
}
hr {
    border: 1px dashed #fff;
    margin: 50px 0;
}
.contenido{
    max-width: $ancho-maximo;
    margin: auto;
    h1 {
    padding-bottom: 20px;
    }
}
/* Animaciones de entrada para las páginas */
body {
    animation: fadein 2s;
}
@keyframes fadein {
    0% { opacity:0; } 
    50% { opacity:0.5; }
    100% { opacity:1; }
}
// botones
.boton {
    padding:4px 20px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: $color-secundario;
    color:$color-principal;
    border-radius: 5px;
    display: block;
    &:hover{
        background-color:$color-dark;
    }
}
.boton-left{
    @extend .boton;
    margin: 10px 10px 0 0;
    width: auto;
    float:left;
    text-align:center;
}
a.ver {
    display: contents;
}
.boton-full{
    @extend .boton;
    margin: 15px 0 0 0;
    text-align: center;
    width: 100%;
}