/* Estilos para la página CONTACTO ********************************* */
#map {
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}
form {
    width: 100%;
    margin-bottom: 50px;
    input {
        width: 100%;
        margin: 10px 0px;
        border-radius: 3px;
        border: 1px solid #ccc;
        padding: 10px;
        accent-color: $color-principal;
    }
    label.hide {
        display: none;
    }
}
input[type="checkbox"] {
    padding: 5px 0px;
}
form input#branding, form input#disenoweb, form input#consulta, form input#whatsapp, form input#llamame, form input#privacidad, form input#privacidad2 {
    width: fit-content;
}
p.subtitle-form {
    padding: 20px 0px 8px 0px;
}
input[type=submit] {
    background-color: $color-secundario;
    border-color: $color-secundario;
    color:$color-principal;
    cursor: map-get($estilos-generales, cursor2), auto;
    &:hover {
        background-color: $color-principal;
        border-color: $color-principal;
        color: $color-secundario;
        cursor: map-get($estilos-generales, cursor2), auto;
        box-shadow: 0px 2px 3px #ccc;
    }
}
textarea {
    width:100%;
    padding: 10px;
}
