/* ESTILOS DEL HEADER (Excepto _menu.scss) DE LA WEB ******************************** */
header{
    padding: 20px;
    z-index: 9;
    position: sticky;
    top:0px;
    background: transparent;
    height: 110px;
    background-color: rgba(255,255,255,0.7);
    .header__logo img{
        max-height: 65px;
        margin-left:30px;
        &:hover {
            rotate: 360deg;
            transition: all 0.4s ease-in-out;
        }
    }
}