/* Estilos para la página HOME ********************************* */
.hero{
    height: 100vh;
    margin-top: -110px;
    width: 100%;
    background-image: url("#{$imagesPath}/home-img.jpg");
    margin-bottom: 100px;
    @include fondocover;
}
.intro {
    height: 100vh;
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-evenly;
    align-items:flex-end;
    .intro-block{
        width:1740px;
        height:auto;
        margin: 100px;
        h1{
            max-width: 65%;
            padding: 20px;
            background-color: rgba(255, 255, 255, 1);
        }
    }
}
#inicio-page h2{
    padding: 10px 0px 50px 0px;
}
.ultimos-trabajos, .ultimas-noticias {
    margin-bottom: 100px;
}
.ultimos-trabajos {
    display: flex;
    .ultimos-trabajos__item {
        /* border:1px solid pink; */
        /* width: 100%; */
        height: 400px;
        width: 25%;
        display: flex;
        border: $bordeblanco;
        @include fondocover;
        a {
            height: 100%;
            width: 100%;
            display: flex;
            align-content:center;
            flex-flow: column;
            align-items: center;
            padding: 20px;
            &:hover{
            cursor: map-get($estilos-generales, cursorcuadrado), auto;
            }
        }
    }
    @for $trabajo from 1 through 4 {
        .t#{$trabajo}{
            background-image: url("#{$imagesPath}/trabajos/img-#{$trabajo}.jpg");
        }
    }
    .t1, .t2, .t3{
        margin-right: 10px;
    } 
}
.ultimas-noticias{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .ultimas-noticias__item {
        width: 600px;
        height: 400px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        background-position: center;
        background-size: cover;
        a {
            height: 100%;
            width: 100%;
            display: flex;
            align-content: stretch;
            flex-flow: column-reverse;
            align-items: flex-start;
            padding: 20px;
            &:hover{
                cursor: map-get($estilos-generales, cursorcirculo), auto;
            }
        }
    }
    @for $noticia from 1 through 3 {
        .n#{$noticia}{
            background-image: url("#{$imagesPath}/noticias/img-#{$noticia}.jpg");
        }
    }
    .n1{
        margin: 0 5px 0 0;
    }
    .n2{
        margin: 0 5px;
    }
    .n3{
        margin: 0 0 0 5px;
    }
}
.ultimos-trabajos__item:hover, .ultimas-noticias__item:hover{
    opacity: 0.5;
    transition: all 0.6s ease-in-out;
    transform: translate(0px,-5px);
    }
@media all and (max-width:1080px) {
    /* para pantallas inferiores a 1080px */
    // hero section media queries 1080px
    .intro {
        max-width: 100%;
        .intro-block{
            margin:100px 50px;
            h1{
                max-width: 75%;
            }
        }
    }
    // ultimos trabajos section media queries 1080px
    .ultimos-trabajos{
        flex-flow: row wrap;
        .ultimos-trabajos__item{
            width: calc(50% - 5px);
            margin-bottom: 10px;
        }
        .t2{
            margin-right: 0px;
        }
    }
    // ultimas noticias section media queries 1080px
    .ultimas-noticias{
        flex-flow: row wrap;
        .ultimas-noticias__item{
            margin-bottom: 10px;
        }
        .n2{
            margin-right: 0px;
        }
        .n1, .n2{
            width: calc(50% - 5px);
            height: 300px;
        }
        .n3{
            width: 100%;
            height: 400px;
            margin-left: 0;
        }
    }
}
@media all and (max-width:640px) {
    // hero section media queries 640px
    .intro-block{
        margin:100px 20px;
        h1{
            max-width: 90%;
        }
    }
    // ultimos trabajos section media queries 640px
    .ultimos-trabajos .ultimos-trabajos__item{
        height: 300px;
    }
    .ultimos-trabajos .t1, .ultimos-trabajos .t2, .ultimos-trabajos .t3, .ultimos-trabajos .t4{
        width: 100%;
        margin-right: 0px;
    }
    // ultimas noticias section media queries 640px
    .ultimas-noticias .n1, .ultimas-noticias .n2, .ultimas-noticias .n3 {
        width: 100%;
        height: 300px;
        margin-right: 0px;
        margin-left: 0px;
    }
}